{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!
{% endblock %}

{% block body %}
	<div class="header">
		<div class="logo">Тестовое задание</div>
	</div>
	<div class="category">
		<a class="active" href="">Новинки</a>
		<a href="">Интернет</a>
		<a href="">Еще чёта</a>
	</div>
	<div class="catalog">
		<div class="card">
			<img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
			<h1>SCWCD Exam Study Kit Second Edition</h1>
			<p class="authors">Hanumant Deshmukh, Jignesh Malavia, Matthew Scarpino</p>
			<p>Internet</p>
			<p>
				<a href="">Подробнее...</a>
			</p>
		</div>
	</div>
{% endblock %}
