body {
    margin: 0px;
    font: 1.0rem "Roboto", sans-serif;
}

.hiBendy {
    width: 100px;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: gray;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login-form,
.register-form {
    width: 30vw;
    min-width: 400px;
    border-radius: 30px;
    background-color: white;
    padding: 50px;
}

.login-form>form>label,
.register-form>form>div>label {
    text-align: right;
}

.login-form>form>input[type=email],
.login-form>form>input[type=password],
.register-form>form>div>input[type=password],
.register-form>form>div>input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 15px;
}


.register-form>form>button[type=submit],
.login-form>form>button[type=submit] {
    margin-top: 15px;
    padding: 10px;
    color: white;
    background-color: blue;
    border: 0px solid black;
    border-radius: 15px;
}

.header {
    width: 100%;
    background-color: black;
}

.logo {
    padding: 15px;
    font-weight: 300;
    color: white;
}

.category {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.category>a {
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.category>a.active {
    border: 0px solid black;
    background-color: gray;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 30px;
}

.authors {
    color: grey;
    font-size: 22px;
}